
//_____________________________________________Enrique_________________________________________________________________
@font-face {
    src:url('../Fonts.Enrique/Enrique-BoldRound.ttf');
}

.Enrique-BoldRound{
-fx-font-family: "Enrique Bold Round"
}


@font-face {
    src:url('../Fonts.Enrique/Enrique-Round.ttf');
}
.Enrique-Round{
-fx-font-family: "Enrique Round"
}

@font-face {
    src:url('..//Fonts.Enrique/Enrique-LightRound.ttf');
}
.Enrique-LightRound{
-fx-font-family: "Enrique Light Round"
}

//_____________________________________________Nova_________________________________________________________________

@font-face {
    src:url('../Nova/NOVA.otf');
}
.NOVA{
-fx-font-family: "NOVA"
}