
//_____________________________________________Enrique_________________________________________________________________
@font-face {
    src:url('../../Resources/Fonts/Enrique/Enrique-BoldRound.ttf');
}
.Enrique-BoldRound{
-fx-font-family: "Enrique Bold Round"
}


@font-face {
    src:url('../../Resources/Fonts/Enrique/Enrique-Round.ttf');
}
.Enrique-Round{
-fx-font-family: "Enrique Round"
}

@font-face {
    src:url('../../Resources/Fonts/Enrique/Enrique-LightRound.ttf');
}
.Enrique-LightRound{
-fx-font-family: "Enrique Light Round"
}

//_____________________________________________Nova_________________________________________________________________

@font-face {
    src:url('../../Resources/Fonts/Nova/novabold.ttf');
}
.novabold{
-fx-font-family: "Novabold"
}